{% load static %}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <a href="">
            <strong>{{ post.create_user.first_name }}</strong>
        </a>
    </div>
    <div class="ibox-content">
        <div class="col-sm-12">
            <div class="text-center">
              {% for file in post.contents.all %}
                <img alt="image" class="m-t-xs img-responsive" 
                width="{% if pList %}100%{% else %}300px{% endif %}" 
                src="{{file.file.url}}"/>
              {% endfor %}
            </div>
        </div>
        <div class="col-sm-12">
            {% if post.text %}
            {{post.text}}
            {% endif %}
        </div>
    </div>

    <div class="ibox-content">
        <a class="btn btn-info btn-circle btn-outline btn-md" data-url="{{post.id}}" type="button">
            <i class="fa fa-heart fa-3"></i>
        </a>
            <small>300</small> &nbsp;&nbsp;
        <a class="btn btn-info btn-circle btn-outline btn-md" data-url="{{post.id}}" type="button">
            <i class="fa fa-comment-o fa-3"></i>
        </a>
            <small>13</small> &nbsp;&nbsp;
        <a class="btn btn-info btn-circle btn-outline btn-md" data-url="{{post.id}}" type="button">
            <i class="fa fa-diamond fa-3"></i>
        </a>
            <small>20</small> &nbsp;&nbsp;
        <a class="btn btn-info btn-circle btn-outline btn-md" data-url="{{post.id}}" type="button">
            <i class="fa fa-share fa-3"></i>
        </a>
            <small>40</small> &nbsp;&nbsp;&nbsp;&nbsp;
    {% if pList %}
        <a class="btn btn-info btn-circle btn-outline btn-md btnMapMarker" data-url="{{post.id}}" type="button">
            <i class="fa fa-map-marker fa-3"></i>
        </a>
    {% endif %}
    </div>

    <div class="ibox-title">
        {% for tag in post.tags.all %}
            <span class="badge badge-info"> {{tag}} </span>
        {% endfor %}
    </div>
</div>