{% extends 'login_base.html' %}
{% load bootstrap3 %}
{% load staticfiles i18n %}

{% block content %}
<style>
.wrapper{
    width: 500px;
    height: 300px;
    position: fixed;
    margin-left: -250px;
    margin-top: -150px;
    top: 50%;
    left: 50%;
}
</style>
<div class="wrapper">
    <div class="row">
        <div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>사용자 등록</h4>
                </div>
                <div class="ibox-content">
                    <h2 class="logo">I Remember Your Past</h2>
                    <div class="signup">
                        <form action="" method="post" role="form" id='password'>
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button type="submit" class="btn btn-primary">
                                {% trans 'Change Password' %}
                            </button>
                            <a href="{% url 'home' %}" class="btn btn-primary">
                                {% trans '홈으로' %}
                            </a>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


